body{
  color:white;
}

.logo{
	display:inline-block;
	width:180px;
	fill:#e50914;
}

.button{
  background-color:#e50914;
  padding:5px;
  align-self:center;
  border-radius:2px;
}

.caps{
  text-transform:uppercase;
}

h1{
  font-size:3rem;
}

